:root {

    --uog-dark: #0b345f;

    /* #003865 */
    --uog-dark-2: rgb(0,56,101);
    
    /* #005398 */
    --uog-normal: rgb(0,83,152);

    --uog-light: #005398;

    /* #f7f7f7 */
    --uog-light-grey: rgb(247,247,247);

    /* #006630 */
    --uog-green: rgb(0,102,48);

    /* #951272 */
    --uog-purple: rgb(149,18,114);

    /* #5b4d94 */
    --uog-pimp: rgb(91,77,148);


    /* #f0f0f0 in decimal RGB */
    --p-color: 0,56,101;
      
    --p-c-main-01: rgba(var(--p-color), 0.8);
    --p-c-text-main: rgba(var(--p-color), 1);
    --primary-color: #f5f5f5; /*gradients, some backgrounds, highlights, animations*/
    --secondary-color: #FFFFFA; /*text and gradients, backgrounds*/


    /* --p-color: 255,255,255;

    --primary-color: var(--uog-light-grey);
    --secondary-color: var(--uog-normal);
    --p-c-main-01: rgba(var(--p-color), 0.8);
    --p-c-text-main: rgba(var(--p-color), 1); */



    --primary-color-dim: rgb(118,16,118,0.5); /*text and gradients, backgrounds*/
    --dark-color: var(--p-c-text-main);
    --error-color: rgb(231, 36, 36);
    --warning-color: rgb(230,181,46); /*also used in one button*/
    --success-color: rgb(14, 127, 68);
    --shadow: 0px 6px 5px -1px rgba(var(--p-color), 0.6);
    --body-padding: 50px;
    --primary-button-offset: 50px;
    
    --first-color: rgba(146,225,234,1);
    --second-color: rgba(235,176,223,1);
    --third-color: rgb(215, 217, 232);
    
    --info-color: #005398;
    --info-color-dark: #00355f;
    --info-color-light: rgb(0, 0, 0, 0.15);

    --edit-color: var(--info-color-light);

    --neutral-color: lightgray

    --success-green: #7DDE92;
    --average-yellow: #FF9B71;
    --bad-red: #F15156;

    --header-height: 100px;
    --header-shadow: 0 4px 2px -2px rgba(var(--p-color), 0.6);

    --sidebar-width: 350px;
    --sidebar-width-collapsed: 75px;
    --sidebar-icon-width: 40px;

    --transition: transform 600ms ease, width 600ms ease, opacity 400ms, margin 600ms ease;

    --border-radius: 5px;

}

/* lexend-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lexend-v17-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lexend-v17-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lexend-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lexend-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lexend-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lexend-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lexend-v17-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v12-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    /* font-family: 'Verdana'; */
    font-family: 'Inter';
    color: var(--dark-color);
}

*::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-track:hover {
    background: rgba(var(--p-color), 0.1);
}

*::-webkit-scrollbar-thumb {
    background: rgba(var(--p-color), 0.70);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--p-color), 0.35);
}

p, h1, h2, h3, h4, h5, h6, a, li {
    font-weight: 400;
}

.a-fancy {
    box-shadow: rgba(var(--p-color), 0.75);
    color: rgba(var(--p-color), 0.75);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 0 -.25rem;
    padding: 10px 15px;
    transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
  }

.a-fancy:hover {
    box-shadow: inset 150px 0 0 0 rgba(var(--p-color), 0.75);
    color: white;
}

/* HELPER */
.primary-text {
    color: var(--primary-color) !important;
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 100;
}

.white-text {
    color: white !important;
}

.info-text {
    color: var(--info-color) !important;
    margin-left: 0 !important;
}

.primary-text {
    color: var(--primary-color);
}

.primary-background {
    background-color: var(--primary-color);
}

.thin-font {
    font-weight: 100;
}

.normal-font {
    font-weight: normal;
}

.bold-font {
    font-weight: 700;
}

.center-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.larger-font {
    font-size: 1.5em;
}

.color-img-blue-uofg {
    filter: invert(21%) sepia(23%) saturate(6907%) hue-rotate(191deg) brightness(98%) contrast(101%);
}

.color-img-dark-blue-uofg {
    filter: invert(12%) sepia(47%) saturate(4317%) hue-rotate(188deg) brightness(94%) contrast(105%);
}

.color-img-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.hover-color-image:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 var(--info-color)) brightness(1.5);
}

a {
    text-decoration: none;
}

.error-color {
    color: var(--bad-red) !important;
    margin-left: 0 !important;
}

.success-color {
    color: var(--success-color) !important;
    margin-left: 0 !important;
}

.grow:hover {
    transform: scale(1.1);
}

.underline {
    position: relative;
    text-decoration: none;
}
  
.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.9s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}
/* HELPER */

/* GENERAL */
input, textarea {
    border-radius: var(--border-radius);
}
/* GENERAL */

/* CSS */


body {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

.body-inner-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    transition: var(--transition);
    position: fixed;
    width: var(--sidebar-width);
    min-height: 100%;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow);
    z-index: 1;
}

.main-area {
    transition: var(--transition);
    margin-left: var(--sidebar-width-collapsed);
    position: relative;
    width: calc(100vw - var(--sidebar-width-collapsed));
    /* width: 100%; */
    /* flex-grow: 1; */
}

.main-area.main-area-collapsed {
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
}

.sidebar > * {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
    padding-right: calc((var(--sidebar-width-collapsed) - var(--sidebar-icon-width)) / 2);
    box-sizing: border-box;
}

.sidebar > *:not(.toggle-sidebar-container):hover, .selected-page {
    /* background-color: var(--edit-color); */
    border-top: 1px solid var(--primary-color);
    box-shadow: var(--header-shadow);
}

/* .selected-page {
    border-color: rgba(var(--p-color), 0.15);;
    box-shadow: rgba(var(--p-color), 0.3); 0 4px 12px;
} */

.toggle-sidebar-container {
    height: var(--header-height);
    margin: 0;
    box-shadow: var(--header-shadow);
    cursor: pointer;
    margin-bottom: 35px;
}

.sidebar > * > :first-child {
    display: flex;
    margin:auto;
}

.sidebar-icon {
    width: var(--sidebar-icon-width);
    height: var(--sidebar-icon-width);
    transition: var(--transition);
}

.sidebar.sidebar-collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar.sidebar-collapsed > * {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: var(--transition);
}

.sidebar.sidebar-collapsed > * > :first-child {
    display: none;
    transition: var(--transition);
}

.content-wrapper {
    padding-top: calc(var(--header-height) + 5px);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.content-body {
    padding: 0 var(--body-padding);
    padding-top: 25px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.extra-padding-top {
    padding-top: 70px;
}

.header, .content-extra-header {
    transition: var(--transition);
    width: calc(100vw - var(--sidebar-width-collapsed));
    padding: 0 var(--body-padding);
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--secondary-color);
    box-shadow: var(--header-shadow);
    z-index: 10000;
}

.content-extra-header {
    padding: 17.5px var(--body-padding);
    height: calc(var(--header-height) / 1.5);
}

.main-area-collapsed .header, .main-area-collapsed .content-extra-header{
    width: calc(100vw - var(--sidebar-width));
}

.header-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-search {
    display: flex;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    height: 50px;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    min-width: 250px;
    outline: 1px solid rgba(var(--p-color), 0.15);
}

.header-search > input {
    flex: 1 0 80%;
    outline: none;
    border: none;
    height: 100%;
    padding-left: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.header-search > button {
    flex: 0 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    min-width: 30px;
    max-width: 60px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 1px solid rgba(var(--p-color), 0.15) !important;
}

/* DISABLE OVERALL BOTTOM CALC */
/* .tabulator .tabulator-footer .tabulator-calcs-holder {
    display: none;
} */

/* DISABLE GROUP BOTTOM CALCS */
/* .tabulator-row.tabulator-selectable.tabulator-calcs.tabulator-calcs-bottom.tabulator-row-odd,
.tabulator-row.tabulator-selectable.tabulator-calcs.tabulator-calcs-bottom.tabulator-row-even {
    display: none;
} */

.header-search > button:hover {
    background-color: rgba(var(--p-color), 0.75);
}

.header-search > button:hover > img {
    filter: invert(1);
}

.header-search > button > img {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.header-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-user-profile > img {
    height: 40px;
    width: 40px;
}

.selected-year {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.active-year {
    color: var(--success-color);
}

.old-year {
    color: rgba(var(--p-color), 0.9);
}

/* TABLE CUSTOMIZATION */
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.disabled-body {
    pointer-events: none;
}

.tabulator-components {
    display: flex;
    margin: 5px 0;
    gap: 5px;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: var(--border-radius);
    background-color: white;
    z-index: 1001;
    cursor: pointer;
}

.popup-close-button:hover {
    background-color: #FF0000;
}

.moderation-popup {

}

.moderation-input-area {
    margin: 20px 0;
}

.hidden, .hidden-row {
    display: none !important;
}

.tabulator-columns-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    /* justify-content: center; */
    gap: 5px;
    margin: 5px 0;
    padding: 40px 10px 10px 10px;
}

.tabulator-columns-menu > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.tabulator[data-edit_mode="1"] .tabulator-cell:not(.tabulator-editable) {
    opacity: 0.6;
    cursor: not-allowed;
}

.edit-mode.tabulator-col {
    /* animation: tilt-shaking 0.75s infinite; */
    /* border-radius: var(--border-radius); */
    /* background-color: rgba(9, 9, 248, 0.782) !important; */
}

.tabulator-editable {
    /* border: 0.5px solid rgba(var(--p-color), 1) !important; */
    box-shadow: inset 1px 1px 2px 1px rgba(var(--p-color), 1) !important;
    /* animation: tilt-shaking 0.5s infinite; */
    cursor: pointer;
}

.tabulator-editable:hover {
    background-color: var(--edit-color) !important;
}

.tabulator-notification {
    position: relative;
    max-width: 80%;
    margin: 0 auto 10px auto;
    /* transform: translateX(-50%) translateY(-100%); */
    outline: 1px solid rgba(var(--p-color), 1);
    padding: 10px;
    border-radius: var(--border-radius);
    z-index: 1000;
    box-shadow: var(--shadow);
}

.tabulator-notification-hint {
    color: rgba(var(--p-color), 1);
}

.inline-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tabulator-menu-item {
    min-height: 30px;
}

/* Close button toggle */
#toggle-sidebar {
    width: var(--sidebar-icon-width);
    height: var(--sidebar-icon-width);
    position: relative;
    margin: auto 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 600ms ease-in-out;
    cursor: pointer;
}
  
  #toggle-sidebar span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--info-color);
    border-radius: var(--border-radius);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 600ms ease-in-out;
}

#toggle-sidebar span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-sidebar span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-sidebar span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar {
    margin-right: 8px;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: calc(var(--sidebar-icon-width) + 10px);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: calc(var(--sidebar-icon-width) + 10px);
  top: 36px;
  left: 8px;
}

/* CSS */
button:not(.button_default) {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(var(--p-color), 0.1);
  border-radius: var(--border-radius);
  box-shadow: rgba(var(--p-color), 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(var(--p-color), 0.85);
  cursor: pointer;
  /* display: inline-flex; */
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:not(.button_default):hover,
button:not(.button_default):focus {
  border-color: rgba(var(--p-color), 0.40);
  box-shadow: rgba(var(--p-color), 0.1) 0 4px 12px;
  color: rgba(var(--p-color), 0.65);
}

button:not(.button_default):hover {
  transform: translateY(-1px);
}

button:not(.button_default):active {
  background-color: rgba(var(--p-color), 0.20);
  border-color: rgba(var(--p-color), 0.15);
  box-shadow: rgba(var(--p-color), 0.06) 0 2px 4px;
  color: rgba(var(--p-color), 0.65);
  transform: translateY(0);
}

button:not(.button_default):disabled {
  background-color: #F0F0F1;
  border-color: rgba(var(--p-color), 0.1);
  box-shadow: none;
  color: rgba(var(--p-color), 0.25);
  cursor: not-allowed !important;
  /* opacity: 1; */
}

button:not(.button_default):hover:disabled {
    box-shadow: none;
    transform: none;
    background: none !important;
    color: rgba(var(--p-color), 0.25) !important;
}

:where(input[type="text"], input[type="search"]):not(.input_default), textarea:not(.input_default), select {
    background-color: #FFFFFF;
    border: 1px solid rgba(var(--p-color), 0.1);
    border-radius: var(--border-radius);
    box-shadow: rgba(var(--p-color), 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(var(--p-color), 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    min-height: 2rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

:where(input[type="text"], input[type="search"]):not(.input_default):focus, textarea:not(.input_default):focus, select:focus {
    border: 1px solid rgba(var(--p-color), 0.40);
    /* color: rgba(0, 0, 0, 1) !important; */
    outline: none;
}

:where(input[type="text"], input[type="search"]):not(.input_default):focus::placeholder, textarea:not(.input_default):focus::placeholder, select:focus::placeholder {
    color: rgba(var(--p-color), 0.30) !important;
}

:where(input[type="text"], input[type="search"]):not(.input_default)::placeholder, textarea:not(.input_default)::placeholder, select::placeholder {
    color: rgba(var(--p-color), 0.40);
}

.button_warning {
    background-color: #FFD9D9 !important;
    border-color: #FFA8A8 !important;
    color: #FF4B4B !important;
}

/* LAYOUT */
.collapsable-section {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.collapsable-section > :first-child {
    margin: 0;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px 25px;
    height: calc(var(--header-height) / 2);
    background-color: var(--secondary-color);
    gap: 5px;
    /* border-bottom: 1px solid rgba(var(--p-color), 0.1); */
}

.collapsable-section > :last-child {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 25px;
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgba(var(--p-color), 0.1);
    /* box-shadow: inset rgba(var(--p-color), 0.05) 0 5px 3px 0; */
}

.collapsable-section .chart-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 380px;
}



/* STUDENT PAGE */

.student-page-top-section {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    margin-top: 25px;
    width: 100%;
}

.student-page-top-section > :first-child {
    /* flex-grow: 1;
    flex-shrink: 1; */
    /* align-self: stretch; */
}

.student-page-top-section > :last-child {
    /* flex: 1; */
    min-width: 750px;
}

#comments_table {
    border: none;
    height: 100%;
    margin: 2px;
}

#comments_table .tabulator-col {
    border: none;
}

#comments_table .tabulator-cell {
    border: none;
}

#comments_table .tabulator-tableholder {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px !important;
}

#comments_table .tabulator-row .tabulator-cell {
    white-space: initial;
    overflow: auto;
}

#degree_classification_table {
    width: 100%;
}

#level_progression_table {
    width: 100%;
}

.student-page-top-section > :last-child .tabulator-components {
    display: none;
}

.student-page-top-section > :last-child > :first-child {
    margin-bottom: 20px;
}

.student-page-top-section > :last-child > :last-child {
    margin-top: 20px;
}

.student-information-panel {
    height: 100%;
}

.student-information-panel > div {
    height: 100%;
    padding: 15px 25px;
}

.student-information-panel p {
    margin: 20px 0;
}

/* END OF STUDENT PAGE */

/* COURSE PAGE */

.course-page-extra-info * {
    margin-bottom: 30px !important;
}


/* END OF COURSE PAGE */
.tabulator {
    max-height: 600px;
    /* max-width: 100% !important; */
    /* box-shadow: var(--shadow); */
    border: 1px solid rgba(var(--p-color), 0.55);
    /* background-color: rgba(var(--p-color), 0.1); */
    background-color: white;
    border-radius: var(--border-radius);
}

.tabulator-tableholder {
    background-color: var(--secondary-color);;
    /* max-height: 600px !important; */
}

.tabulator-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tabulator_table * {
    border-color: rgba(var(--p-color), 0.3);
    /* outline-color: rgba(var(--p-color), 0.5); */
}

.tabulator-header {
    background-color: var(--secondary-color) !important;
}

.tabulator-header * {
    color: var(--info-color-dark) !important;
}

.tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    background-color: var(--secondary-color);
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    min-height: 30px;
}

.tabulator-header-contents {
    background-color: var(--secondary-color);
    /* min-height: 100px; */
}

.tabulator .tabulator-footer {
    background-color: var(--secondary-color);
}

.tabulator-heading {
    margin: 10px 0 20px 0;
}

.tabulator-linked-section {
    /* padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; */
}

/* .tabulator-row .tabulator-selectable .tabulator-calcs .tabulator-calcs-bottom {
    display: none !important;
} */

/* .tabulator .tabulator-col-resize-handle {
    position: relative;
    width: 1px;
    margin-left: 0px;
    margin-right: 0px;
} */

/* .tabulator .tabulator-col-resize-handle::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--p-color), 0.9);
    width: 1px;
} */

.tabulator-placeholder-contents {
    color: rgba(var(--p-color), 0.9) !important;
    font-weight: normal !important;
    margin-bottom: 17px;
}

.tabulator-format-select {
    position: relative;
}

/* .tabulator-row.tabulator-selectable:hover {
    background: var(--info-color-light) !important;
} */

/* .tabulator-row.tabulator-selectable.tabulator-selected {
    background: var(--info-color-light) !important;
} */

.tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 30px;
    background-color: #fff;
}

.tabulator-row.tabulator-group {
    border-color: rgba(var(--p-color), 1);
}

/* .tabulator-arrow {
    border-color: rgba(var(--p-color), 1);
} */

/* arrows of group headers */
/* .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
    border-top-color: rgba(var(--p-color), 1);
} */

.tabulator-row.tabulator-row-even {
    background-color: white;
}

/* .tabulator-row.tabulator-selected {
    background-color: rgba(var(--p-color), 1);
} */

/* .tabulator-row.tabulator-selected * {
    color: var(--primary-color);
} */

/* .tabulator-row.tabulator-selectable:hover {
    background: var(--primary-color);
} */

/* .tabulator-row.tabulator-selectable:hover * {
    color: var(--primary-color);
} */

/* .tabulator-cell tabulator-frozen tabulator-frozen-right {
    border-right: initial !important;
} */

/* .tabulator-row.tabulator-row-odd {
    background-color: var(--primary-color) !important;
} */

/* .tabulator-group {
    background-color: var(--primary-color) !important;
} */

.tabulator-group {
    background-color: rgba(var(--p-color), 0.1) !important;
}

.comment-table-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.comment-table-footer > textarea {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    resize: none;
}

.comment-table-footer > button {
    padding: 22.5px 15px;
}


/* animated loading screen */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--primary-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-color) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }