:root {
    --primary-color: #FFFFFA; /*text and gradients, backgrounds*/
    --primary-color-dim: rgb(118,16,118,0.5); /*text and gradients, backgrounds*/
    --secondary-color: #f5f5f5; /*gradients, some backgrounds, highlights, animations*/
    --dark-color: #403d39;
    --error-color: rgb(231, 36, 36);
    --warning-color: rgb(230,181,46); /*also used in one button*/
    --success-color: rgb(14, 127, 68);
    --shadow: 0px 6px 5px -1px rgba(0,0,0,0.6);
    --body-padding: 50px;
    --primary-button-offset: 50px;
    
    --first-color: rgba(146,225,234,1);
    --second-color: rgba(235,176,223,1);
    --third-color: rgb(215, 217, 232);
    
    --info-color: #005398;
    --info-color-dark: #00355f;
    --info-color-light: rgb(0, 0, 0, 0.15);

    --edit-color: var(--info-color-light);

    --neutral-color: lightgray

    --success-green: #7DDE92;
    --average-yellow: #FF9B71;
    --bad-red: #F15156;

    --header-height: 100px;
    --header-shadow: 0 4px 2px -2px gray;

    --sidebar-width: 350px;
    --sidebar-width-collapsed: 75px;
    --sidebar-icon-width: 40px;

    --transition: transform 600ms ease, width 600ms ease, opacity 400ms, margin 600ms ease;
}

* {
    font-family: 'Verdana';
    color: var(--dark-color);
}

*::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* HELPER */
.primary-text {
    color: var(--primary-color) !important;
}

.white-text {
    color: white !important;
}

.info-text {
    color: var(--info-color) !important;
}

.primary-text {
    color: var(--primary-color);
}

.primary-background {
    background-color: var(--primary-color);
}

.thin-font {
    font-weight: 100;
}

.normal-font {
    font-weight: normal;
}

.bold-font {
    font-weight: 700;
}

.center-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.larger-font {
    font-size: 1.5em;
}

.color-img-blue-uofg, a::after {
    filter: invert(21%) sepia(23%) saturate(6907%) hue-rotate(191deg) brightness(98%) contrast(101%);
}

.color-img-dark-blue-uofg {
    filter: invert(12%) sepia(47%) saturate(4317%) hue-rotate(188deg) brightness(94%) contrast(105%);
}

.hover-color-image:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 var(--info-color)) brightness(1.5);
}

a {
    text-decoration: none;
}

.error-color {
    color: var(--bad-red) !important;
    margin-left: 0 !important;
}

.success-color {
    color: var(--success-color) !important;
    margin-left: 0 !important;
}

.grow:hover {
    transform: scale(1.1);
}

.underline {
    position: relative;
    text-decoration: none;
}
  
.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.9s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}
/* HELPER */

/* GENERAL */
input, textarea {
    border-radius: 5px;
}
/* GENERAL */

/* CSS */


body {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

.body-inner-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    transition: var(--transition);
    position: fixed;
    width: var(--sidebar-width);
    min-height: 100%;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow);
    z-index: 1;
}

.main-area {
    transition: var(--transition);
    margin-left: var(--sidebar-width-collapsed);
    position: relative;
    width: calc(100vw - var(--sidebar-width-collapsed));
    /* width: 100%; */
    /* flex-grow: 1; */
}

.main-area.main-area-collapsed {
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
}

.sidebar > * {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
    padding-right: calc((var(--sidebar-width-collapsed) - var(--sidebar-icon-width)) / 2);
    box-sizing: border-box;
}

.sidebar > *:not(.toggle-sidebar-container):hover, .selected-page {
    /* background-color: var(--edit-color); */
    border-top: 1px solid var(--primary-color);
    box-shadow: var(--header-shadow);
}

/* .selected-page {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
} */

.toggle-sidebar-container {
    height: var(--header-height);
    margin: 0;
    box-shadow: var(--header-shadow);
    cursor: pointer;
    margin-bottom: 35px;
}

.sidebar > * > :first-child {
    display: flex;
    margin:auto;
}

.sidebar-icon {
    width: var(--sidebar-icon-width);
    height: var(--sidebar-icon-width);
    transition: var(--transition);
}

.sidebar.sidebar-collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar.sidebar-collapsed > * {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: var(--transition);
}

.sidebar.sidebar-collapsed > * > :first-child {
    display: none;
    transition: var(--transition);
}

.content-wrapper {
    padding-top: calc(var(--header-height) + 5px);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.content-body {
    padding: 0 var(--body-padding);
    padding-top: 25px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.extra-padding-top {
    padding-top: 70px;
}

.header {
    transition: var(--transition);
    width: calc(100vw - var(--sidebar-width-collapsed));
    padding: 0 var(--body-padding);
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--secondary-color);
    box-shadow: var(--header-shadow);
    z-index: 10000;
}

.content-extra-header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 17.5px var(--body-padding);
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--header-shadow);
    background: var(--secondary-color);
}

.main-area.main-area-collapsed .header {
    width: calc(100vw - var(--sidebar-width));
}

.header-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-search {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 7.5px;
    height: 50px;
    padding-left: 20px;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    min-width: 250px;
}

.header-search > input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

.header-search > input:focus::placeholder {
    color: var(--neutral-color);
}

.header-search > button {
    all: initial;
    border: 0;
    background: transparent;
    width: 40px;
}

.header-search > button > img {
    margin-top: 5px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}

.header-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-user-profile > img {
    height: 40px;
    width: 40px;
}

.content-years a:hover {
    text-decoration: underline;
}

.selected-year {
    font-weight: bold;
}

.active-year {
    color: var(--success-color);
}

.old-year {
    color: rgb(0, 0, 0, 0.6);
}

/* TABLE CUSTOMIZATION */
.tabulator {
    max-height: 600px !important;
    /* max-width: 100% !important; */
    box-shadow: var(--shadow);
}

.tabulator-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.disabled-body {
    pointer-events: none;
}

.tabulator-components {
    display: flex;
    margin: 5px 0;
    gap: 5px;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    z-index: 1001;
    cursor: pointer;
}

.popup-close-button:hover {
    background-color: #FF0000;
}

.moderation-popup {

}

.moderation-input-area {
    margin: 20px 0;
}

.hidden, .hidden-row {
    display: none;
}

.tabulator-columns-menu {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 5px;
    margin: 5px 0;
    padding: 20px 0;
}

.tabulator-columns-menu > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.tabulator[data-edit_mode="1"] .tabulator-cell:not(.tabulator-editable) {
    opacity: 0.6;
    cursor: not-allowed;
}

.edit-mode.tabulator-col {
    animation: tilt-shaking 0.75s infinite;
    border-radius: 5px;
    /* background-color: rgba(9, 9, 248, 0.782) !important; */
}

.tabulator-editable {
    border: 1px solid blue !important;
    /* animation: tilt-shaking 0.5s infinite; */
    cursor: pointer;
}

.tabulator-editable:hover {
    background-color: var(--edit-color) !important;
}

.tabulator-notification {
    position: relative;
    max-width: 80%;
    margin: 0 auto 10px auto;
    /* transform: translateX(-50%) translateY(-100%); */
    outline: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: var(--shadow);
}

.tabulator-notification-hint {
    color: blue;
}

.inline-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* .tabulator-row.tabulator-selectable:hover {
    background: var(--info-color-light) !important;
} */

.tabulator-row.tabulator-selectable.tabulator-selected {
    background: var(--info-color-light) !important;
}

.tabulator-menu-item {
    min-height: 30px;
}

.tabulator-row .tabulator-cell {
    border-right: initial !important;
}

/* Close button toggle */
#toggle-sidebar {
    width: var(--sidebar-icon-width);
    height: var(--sidebar-icon-width);
    position: relative;
    margin: auto 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 600ms ease-in-out;
    cursor: pointer;
}
  
  #toggle-sidebar span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--info-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 600ms ease-in-out;
}

#toggle-sidebar span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-sidebar span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#toggle-sidebar span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar {
    margin-right: 8px;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: calc(var(--sidebar-icon-width) + 10px);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.sidebar:not(.sidebar-collapsed) #toggle-sidebar span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: calc(var(--sidebar-icon-width) + 10px);
  top: 36px;
  left: 8px;
}

/* CSS */
button:not(.button_default) {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  /* display: inline-flex; */
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:not(.button_default):hover,
button:not(.button_default):focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:not(.button_default):hover {
  transform: translateY(-1px);
}

button:not(.button_default):active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

button:not(.button_default):disabled {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed !important;
  /* opacity: 1; */
}

button:not(.button_default):hover:disabled {
    box-shadow: none;
    transform: none;
    background: none !important;
    color: rgba(0, 0, 0, 0.25) !important;
}

:where(input[type="text"], input[type="search"]):not(.input_default), textarea:not(.input_default), select {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    min-height: 2rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

:where(input[type="text"], input[type="search"]):not(.input_default):focus, textarea:not(.input_default):focus, select:focus {
    border: 1px solid rgba(0, 0, 0, 0.55);
    color: rgba(0, 0, 0, 0.65);
    outline: none;
}


