{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <h2>All courses</h2>
    <div style="width: 800px;"><canvas id="courses"></canvas></div>
    <div id="courses_table" class="tabulator_table" style="max-width: 1200px;"></div>
    <script>
        chart = new Chart(
            document.getElementById('courses'),
            {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [
                        {
                            label: 'Number of courses offered in a given year',
                            data: [],
                        }
                    ]
                }
            }
        );
        load_courses_table({}, false)
    </script>
{%endblock%}