{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <input type="hidden" name="course_id" value="{{current_course.id}}" class="api_prefill">


    <p>currently viewing: {{current_course.verbose_name}}</p>
    <p>Lecturer: {{current_course.lecturer}}</p>
    {%if current_course.lecturer_comment%}
        <p>Lecturer comment: {{current_course.lecturer_comment}}</p>
    {%endif%}
    {%if course_other_years%}
        <p>other years:</p>
        {%for course in course_other_years%}
            <p><a class="underline" href="{{course.page_url}}">{{course.verbose_name}}</a></p>
        {%endfor%}
    {%else%}
        <p>Unfortunately, this course does not exist in other years!</p>
    {%endif%}

    <canvas id="students_final_grade"></canvas>

    <p>Students enrolled onto course</p>
    <div class="tabulator_table" id="students_table" style="max-width: 1200px;"></div>
    <script>
        let backend_course_id = "{{current_course.id}}"
        load_students_table({},true,{backend_course_id:backend_course_id})
    </script>
    <p>Assessment breakdown for the course.</p>
{%endblock%}