{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <input type="hidden" name="course_id" value="{{current_course.id}}" class="api_prefill">

    <div class="student-page-top-section">
        <div>
            <div class="collapsable-section student-information-panel">
                <h3><b>Course information: </b>&nbsp {{current_course}}</h3>
                <div>
                    <p><b>Course name:</b> {{current_course.name}}</p>
                    <p><b>Course code:</b> {{current_course.code}}</p>
                    <p><b>Year offered in:</b> {{current_course.academic_year}}</p>
                    <p><b>Number of students enrolled:</b> {{current_course.students.count}}</p>
                    <p><b>Lecturer:</b> {{current_course.lecturer}}</p>
                    <p><b>Lecturers course description:</b> {{current_course.lecturer_comment}}</p>
                    <p><b>Credits:</b> {{current_course.credits}}</p>
                    <p><b>Is moderated?</b> {{current_course.is_moderated}}</p>

                    <div class="tabulator-linked-section course-page-extra-info">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="collapsable-section">
                <h3><b>Course notes</b></h3>
                <div>
                    <div class="tabulator_table" id="comments_table"></div>
                    <script>
                        user_full_name = '{{user.get_name_verbose}}'
                        load_comments_table(`{{current_course.comments_for_table|safe}}`)
                    </script>
                </div>
            </div>
            <div class="collapsable-section">
                <h3><b>Final grade distribution across all enrolled students</b></h3>
                <div class="chart-block">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    <canvas id="students_final_grade"></canvas>
                </div>
            </div>
        </div>
    </div>

    <p>Students enrolled onto course</p>
    <div class="tabulator_table" id="students_table" style="width: 100%;"></div>
    <script>
        load_students_table({}, true, settings={course: JSON.parse(`{{current_course.get_data_for_table_json|safe}}`)})
    </script>
{%endblock%}