{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    {%if current_level == 4%}
        <p>BSc/BEng - Level 4 Honours Graduates</p>
    {%elif current_level == 5%}
        <p>MSc/MEng - Level 5 (M) Honours Graduates</p>
    {%endif%}

    <div style="width: 80%">
        <canvas id="degree_classification_chart">loading chart</canvas>
    </div>

    <div class="tabulator_table" id="degree_classification_table" style="max-width: 1200px;"></div>
    <script>
        load_degree_classification_table(level=`{{current_level}}`)
    </script>
{%endblock%}