{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <p>Search term: {{search_term}}</p>

    {%if courses%}
        {{courses}}
        <p>COURSES</p>
        <div id="courses_table" class="tabulator_table"></div>
        <script>
            search_term = '{{search_term}}';
            load_courses_table(extra_constructor_params = {}, false)
        </script>
    {%else%}
        <p>No relevant courses found</p>
    {%endif%}

    {%if students%}
        <p>STUDENTS</p>
        <div id="students_table" class="tabulator_table"></div>
        <script>
            load_students_table()
        </script>
    {%else%}
        <p>No students found!</p>
    {%endif%}
    
{%endblock%}