{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <div class="basic-page">
        <h3>You are currently searching for: <b class="primary-text">"{{search_term}}"</b></h3>

        {%if students%}
            <h3>Below is a table of all the relevant <b class="primary-text">students</b></h3>
            <div id="students_table" class="tabulator_table"></div>
            <script>
                search_term = '{{search_term}}'
                load_students_table({}, true, {"noGroupBy": true})
            </script>
        {%endif%}

        {%if courses%}
            <h3>Below is a table of all the relevant <b class="primary-text">courses</b></h3>
            <div id="courses_table" class="tabulator_table"></div>
            <script>
                search_term = '{{search_term}}'
                load_courses_table(extra_constructor_params = {}, false, {"noGroupBy": true, "fitColumns": true})
            </script>
        {%endif%}

        {%if not courses and not students%}
            <h3>No results found in the database</h3>
        {%endif%}
    </div>
{%endblock%}