{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    Grading Rules for the Academic year {{selected_year.year}}-{{selected_year.year|add:1}}

    <div class="tabulator_table" id="grading_rules_table" style="max-width: 1100px;"></div>

    <input type="hidden" name="year_id" value="{{selected_year.id}}" class="api_prefill">

    <script>
        load_grading_rules_table(`{{selected_year.degree_classification_settings_for_table|safe}}`)
    </script>
{%endblock%}