{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
    <script defer src="{% static 'js/home.js'%}"></script>
{% endblock %}

{% block body %}
    <script>
        let assessment_count_distribution_data = `{{assessment_count_distribution|safe}}`
        let assessment_avg_distribution_data = `{{assessment_avg_distribution|safe}}`
        assessment_count_distribution_data = JSON.parse(assessment_count_distribution_data)
        assessment_avg_distribution_data = JSON.parse(assessment_avg_distribution_data)
    </script>
    
    <div class="student-page-top-section">
        <div>
            <div class="collapsable-section home-information-panel">
                <h3><b>Overall system overview</b></h3>
                <div>
                    <b><h4>Students</h4></b>
                    <p>There is a total of {{students.count}} students in the system.</p>
                    <p>Where {{active_students}} of them are currently active/non-graduated</p>
                    <p>And {{graduated_students}} are legacy/graduated students</p>
                    <h4>Courses</h4>
                    <p>There is a total of {{courses.count}} courses in the system.</p>
                    <p>And an average of {{courses_per_year}} courses offered every year</p>
                    <h4>Assessments</h4>
                    <p>There is a total of {{total_number_of_assessments}} assessments in the system.</p>
                    <p>With an average of {{average_assessments_per_course}} assessed pieces of work per course</p>
                    <h4>Assessed results</h4>
                    <p>There is a total of {{results.count}} assessed pieces of work stored in the system.</p>
                    <p>With an average grade of {{average_grade}}/22 across all of them</p>
                    <h4>Years</h4>
                    <p>The system stores data across the following years:
                        {%for year in years%}
                            {{year}}{%if not forloop.last%}, {%endif%}
                        {%endfor%}
                    </p>
                    <h4>Users breakdown</h4>
                    <p>There is a total of {{users.count}} users with access to the system.</p>
                    <p>{{admins}} of those accounts have administrator privilidges</p>
                </div>
            </div>
        </div>
        <div>
            <div class="collapsable-section">
                <h3><b>Grade distribution across {{results.count}} assessed works</b></h3>
                <div>
                    <div class="chart-block">
                        <canvas id="assessment_count_distribution"></canvas>
                    </div>
                </div>
            </div>
            <div class="collapsable-section">
                <h3><b>Average metrics across {{results.count}} assessed works</b> <img class='color-img-dark-blue-uofg icon' title="You may hover over the chart elements to see more details. Additionally, you may toggle which data the chart shows, by left-clicking the legend elements." class="icon" src="{% static 'icons/info.svg'%}"></h3>
                <div class="chart-block">
                    <canvas id="assessment_avg_distribution"></canvas>
                </div>
            </div>
        </div>
    </div>
{%endblock%}