{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <div class="student-page-top-section">
        <div>
            <div class="collapsable-section student-information-panel">
                <h3>
                    <b>Level {{current_level}} cohort summary in {{selected_year.year}}</b>
                </h3>
                <div>
                    <p><b>Head of level {{current_level}}:</b> {{level_head.get_name_verbose}}</p>
                    <div class="tabulator-linked-section">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="collapsable-section">
                <h3><b>Overall cohort performance distribution</b></h3>
                <div>
                    <div class="chart-block">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        <canvas id="level_progression_chart_all"></canvas>
                    </div>
                </div>
            </div>
            <div class="collapsable-section">
                <h3><b>Progression into level {{current_level|add:1}} breakdown</b></h3>
                <div class="chart-block">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    <canvas id="level_progression_chart_success"></canvas>
                </div>
            </div>
        </div>
    </div>

    <h1><b>Full cohort data</b></h1>
    <div class="tabulator_table" id="level_progression_table"></div>
    <script>
        load_level_progression_table(level=`{{current_level}}`)
    </script>
{%endblock%}