{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <input type="hidden" name="year_id" value="{{selected_year.id}}" class="api_prefill">
    <input type="hidden" name="level" value="{{current_level}}" class="api_prefill">
    
    <div class="basic-page">
        <h3>Grading Rules page for the Academic year <b class="primary-text">{{selected_year.year}}-{{selected_year.year|add:1}}</b>, for the <b class="primary-text">level {{current_level}}</b> cohort</h3>
        <p>You may view or edit the current rules used to determine progression from level {{current_level}} into level {{current_level|add:1}}.</p>
        <div class="tabulator_table" id="grading_rules_table" style="max-width: 1100px;"></div>

        <p>Click <a class="a_fancy" target="_blank" rel="noopener noreferrer" href="{{preview_url}}">here</a> to see the actual Level progression page, with these settings</p>

        <script>
            load_grading_rules_table(`{{table_settings|safe}}`, level=`{{current_level}}`)
        </script>
    </div>
{%endblock%}