{%extends 'base.html'%}
{%load static%}

{% block head %}
    <script src="{% static 'js/tables.js'%}"></script>
{% endblock %}

{% block body %}
    <input type="hidden" name="student_id" value="{{student.id}}" class="api_prefill">

    <div class="student-page-top-section">
        <div>
            <div class="collapsable-section student-information-panel">
                <h3><b>Student information: </b>&nbsp {{student}}</h3>
                <div>
                    <p><b>GUID:</b> {{student.GUID}}</p>
                    <p><b>Full name:</b> {{student.full_name}}</p>
                    <p><b>Degree name:</b> {{student.degree_name}}</p>
                    <p><b>Degree title:</b> {{student.degree_title}}</p>
                    <p><b>Current level:</b> {{student.current_level_verbose}}</p>
                    <p><b>Is faster route?:</b> {{student.is_faster_route}}</p>
                    <p><b>Current status:</b> {{student.graduation_info}}</p>
                    
                    <p><b>Current academic year:</b> {{student.current_academic_year}}</p>
                    <p><b>Start academic year:</b> {{student.start_academic_year}}</p>
                    <p><b>End academic year:</b> {{student.end_academic_year}}</p>
                    
                    <!-- Final Classification: {{student.get_final_classification}} -->
                </div>
            </div>
        </div>
        <div>
            <div class="collapsable-section">
                <h3><b>Lecturer comments</b></h3>
                <div>
                    <div class="tabulator_table" id="comments_table"></div>
                    <script>
                        let user_full_name = '{{user.get_name_verbose}}'
                        load_comments_table(`{{student.comments_for_table|safe}}`)
                    </script>
                </div>
            </div>
            <div class="collapsable-section">
                <h3><b>Performance statistics across all completed years</b> <img title="You may hover over the chart elements to see more details. Additionally, you may toggle which data the chart shows, by left-clicking the legend elements." src="{% static 'icons/info.svg'%}"></h3>
                <div class="chart-block">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    <canvas id="student_level_chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <p>If graduated: Do something about it!!!</p>

    <p>Course grades for student:</p>
    <div class="tabulator_table" id="courses_table" style="width: 100%;"></div>
    <script>
        load_courses_table({}, true, settings={student: JSON.parse(`{{student.get_data_for_table_json|safe}}`)})
    </script>
{%endblock%}