{% load static %}
{% load tags%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exam Board App</title>
    <script src="{% static 'js/libraries/chart.min.js'%}"></script>
    <script src="{% static 'js/libraries/tabulator.min.js'%}"></script>
    <script src="{% static 'js/global.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/libraries/tabulator.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/global.css'%}">

    <!-- https://iconoir.com/ for icons -->
    <!-- https://www.svgrepo.com/svg/481679/student-cap -->

    <script defer type="text/javascript" src="{% static 'js/libraries/xlsx.full.min.js'%}"></script>
    <script defer type="text/javascript" src="{% static 'js/libraries/jspdf.umd.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/libraries/jspdf.plugin.autotable.min.js' %}"></script>

    {%block head%}
    {%endblock%}
  </head>

  <body>
    <div class="notification-wrapper{%if request.COOKIES.sidebar_collapsed == 'false'%} notification-wrapper-shrunk{%endif%}">
        <div class="notification">
            <img data-path="{%static 'icons/'%}">
            <div>
                <h2><b></b></h2>
                <p></p>
            </div>
        </div>
    </div>

    <input type="hidden" id="page_info" data-info='{{page_info}}'>

    {%for message in messages%}
        <input type="hidden" id="server_message" data-message="{{message}}" data-type="{{message.level_tag}}">  
    {%endfor%}

    <div class="body-inner-wrapper">
      <nav class="sidebar {%if request.COOKIES.sidebar_collapsed == 'true'%}sidebar-collapsed{%endif%}">
        <!-- home -->
        <div class="toggle-sidebar-container">
          <!-- <img class="sidebar-icon sidebar-icon-main" src="{% static 'images/fancy_logo_black.png'%}"> -->
          <h2><b>Navigation menu</b></h2>
          <div id="toggle-sidebar">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="sidebar-separator"></div>

        <a href="{%url 'general:home'%}" title="Dashboard" {%if '/' == request.path%}class="selected-page"{%endif%}>
          <span>Dashboard</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/home.svg'%}">
        </a>

        <div class="sidebar-separator"></div>

        <a href="{%url 'general:all_students'%}" title="All students page" {%if 'students' in request.path%}class="selected-page"{%endif%}>
          <span>All students</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/students.svg'%}">
        </a>

        <a href="{%url 'general:all_courses'%}" title="All courses" {%if 'courses' in request.path%}class="selected-page"{%endif%}>
          <span>All courses</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/courses.svg'%}">
        </a>

        <div class="sidebar-separator"></div>

        <a href="{%url 'general:level_progression' 1%}" title="Level progression" {%if 'progression' in request.path%}class="selected-page"{%endif%}>
          <span>Level progression</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/progression.svg'%}">
        </a>

        <a href="{%url 'general:degree_classification' 4%}" title="Degree classification" {%if 'degree_classification' in request.path%}class="selected-page"{%endif%}>
          <span>Degree Classification</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/degree_classification.svg'%}">
        </a>

        <div class="sidebar-separator"></div>

        <a href="{%url 'general:degree_grading_rules'%}" title="Degree classification rules" {%if 'setup/degree' in request.path%}class="selected-page"{%endif%}>
          <span>Degree classification rules</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/grade_settings.svg'%}">
        </a>

        <a href="{%url 'general:level_progression_rules' 1%}" title="Level progression rules" {%if 'setup/level' in request.path%}class="selected-page"{%endif%}>
            <span>Level progression rules</span>
            <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/grade_settings.svg'%}">
        </a>

        <div class="sidebar-separator"></div>
      </nav>

      <div class="main-area{%if request.COOKIES.sidebar_collapsed == 'false'%} main-area-shrunk{%endif%}">
        <div class="header">
            <a class="welcome-title" href="{%url 'general:home'%}"><img src="{%static 'images/UoG_colour_crest.png'%}"><h2><b>Welcome to Univeristy of Glasgow</b><br>Exam board management system</h2></a>
            <div class="header-sections">
            </div>
            <form class="header-search" action="{% url 'general:global_search'%}" method="POST">
            {%csrf_token%}
            <input type="text" name="global_search" placeholder="search student/course">
            <button type="submit">
                <img class="color-img-blue-uofg" src="{% static 'icons/search.png' %}" alt="submit" />
            </button>
            </form>
            <div class="header-user-profile">
            <img class="color-img-blue-uofg" src="{% static 'icons/profile.svg' %}">
            <div>
                {%if request.user.is_authenticated%}
                <h3>{{request.user.get_name_verbose}}</h3>
                {%else%}
                <h3>Anonymous user</h3>
                {%endif%}
            </div>
            <div id="page_help">
                Click for help!
            </div>
            </div>
            
            {%if request.user.is_authenticated%}
                <a href="{%url 'general:logout' request.path%}"><button class="button-30">Logout</button></a>
            {%else%}
                <a href="{%url 'general:login' request.path%}"><button class="button-30">Login</button></a>
            {%endif%}
        </div>
        <div class="content-wrapper">
          {%if all_years and request.user.is_authenticated%}
            <div class="content-extra-header">
              <div class="content-years">
                  {%for year in all_years%}
                        <a title="View year {{year.obj.year}}" class="a-fancy{%if year.obj.is_current%} active-year{%else%} old-year{%endif%}{%if year.obj == selected_year%} selected-year{%endif%}" href="{{year.url}}">
                            <span>{{year.obj}}</span>
                        </a>
                  {%endfor%}
              </div>
              {%if all_levels%}
                <div class="content-years">
                    {%for level in all_levels%}
                        <a title="View {{level.title}}" class="a-fancy{%if level.level == selected_level%} selected-year{%endif%}" href="{{level.url}}">
                            <span>{{level.title}}</span>
                        </a>
                    {%endfor%}
                </div>
              {%endif%}
            </div>
          {%endif%}
          <div class="content-body{%if all_years and request.user.is_authenticated%} extra-padding-top{%endif%}">
            {%if request.user.is_authenticated%}
              {%block body%}
              {%endblock%}
            {%else%}
              <div>
                <h2>
                  You are not logged in, therefore you cannot view any pages. <br><br>
                  Please click the login button in the top right corner to login.<br>
                  You will be logged in as a random user from the population script.
                </h2>
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>