{% load static %}
{% load tags%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exam Board App</title>
    <script src="{% static 'js/libraries/chart.min.js'%}"></script>
    <script src="{% static 'js/libraries/tabulator.min.js'%}"></script>
    <script src="{% static 'js/global.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/libraries/tabulator_semanticui.min.css'%}">

    <!-- https://iconoir.com/ for icons -->

    <link href='https://css.gg/css' rel='stylesheet'>

    <script type="text/javascript" src="{% static 'js/libraries/xlsx.full.min.js'%}"></script>

    <script type="text/javascript" src="{% static 'js/libraries/jspdf.umd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jspdf.plugin.autotable.min.js' %}"></script>

    {%block head%}
    {%endblock%}
  </head>

  <body>
    <div class="body-inner-wrapper">
      <nav class="sidebar {%if request.COOKIES.sidebar_collapsed == 'true'%}sidebar-collapsed{%endif%}">
        <!-- home -->
        <div class="toggle-sidebar-container">
          <img class="sidebar-icon" src="{% static 'images/UoG_colour.png'%}" style="width: 175px; height: 60px;">
          <div id="toggle-sidebar">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <a href="{%url 'general:home'%}" title="Dashboard" {%if '/' == request.path%}class="selected-page"{%endif%}>
          <span>Dashboard</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/home.svg'%}">
        </a>

        <a href="{%url 'general:all_students'%}" title="All students page" {%if 'students' in request.path%}class="selected-page"{%endif%}>
          <span>All students</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/students.svg'%}">
        </a>

        <a href="{%url 'general:all_courses'%}" title="All courses" {%if 'courses' in request.path%}class="selected-page"{%endif%}>
          <span>All courses</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/courses.svg'%}">
        </a>

        <a href="{%url 'general:degree_classification'%}" title="Degree classification" {%if 'degree_classification' in request.path%}class="selected-page"{%endif%}>
          <span>Degree Classification</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/degree_classification.svg'%}">
        </a>

        <a href="{%url 'general:grading_rules'%}" title="Grading rules" {%if 'grading_rules' in request.path%}class="selected-page"{%endif%}>
          <span>Grading rules</span>
          <img class="sidebar-icon color-img-blue-uofg" src="{% static 'icons/grade_settings.svg'%}">
        </a>
      </nav>

      <div class="main-area{%if request.COOKIES.sidebar_collapsed == 'false'%} main-area-collapsed{%endif%}">
        <div class="header">
          <a href="{%url 'general:home'%}"><p><b>Welcome to UofG</b> Exam board management system</p></a>
          <div class="header-sections">
          </div>
          <form class="header-search" action="{% url 'general:global_search'%}" method="POST">
            {%csrf_token%}
            <input type="text" class="input_default" name="global_search" placeholder="search student/course">
            <button class="button_default" type="submit">
              <img class="color-image" src="{% static 'icons/search.png' %}" alt="submit" />
            </button>
          </form>
          <div class="header-user-profile">
            <img class="color-img-blue-uofg" src="{% static 'icons/profile.svg' %}">
            <div>
              {%if request.user.is_authenticated%}
                <p>{{request.user.get_name_verbose}}</p>
              {%else%}
                <p>Anonymous user</p>
              {%endif%}
            </div>
          </div>
          <button class="button-30">
            {%if request.user.is_authenticated%}
              <a href="{%url 'general:logout'%}">Logout</a>
            {%else%}
              <a href="{%url 'general:login'%}">Login</a>
            {%endif%}
          </button>
        </div>
        <div class="content-wrapper">
          {%if all_years and request.user.is_authenticated%}
            <div class="content-extra-header visible">
              <div class="content-years">
                <div>
                  {%for year in all_years%}
                      <a class="{%if year.obj.is_current%}active-year{%else%}old-year{%endif%}{%if year.obj == selected_year%} selected-year{%endif%}" href="{{year.url}}">{{year.obj}}</a>
                    {%if not forloop.last%}
                      <span>></span>
                    {%endif%}
                  {%endfor%}
                </div>
              </div>
            </div>
          {%endif%}
          <div class="content-body{%if all_years and request.user.is_authenticated%} extra-padding-top{%endif%}">
            {%if request.user.is_authenticated%}
              {%block body%}
              {%endblock%}
            {%else%}
              <div>
                <h2>
                  You are not logged in, therefore you cannot view any pages. <br><br>
                  Please click the login button in the top right corner to login.<br>
                  You will be logged in as a random user from the population script.
                </h2>
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>